.color-filter {
  align-items: center !important;
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
  width: min-content;
  margin-top: 10px;
  .qty-field {
    width: 90px;
    padding: 0 7px;
    .form-control {
      padding: 3px 10px;
      text-align: center;
    }
  }
}
.sub-title {
  top: 80px;
  left: 16px;
  display: flex;
  align-items: center;
  position: absolute;
  font-size: 21px;
  color: #1c1c1c;
  border: 1px solid #1c1c1c;
  padding: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  &:hover {
    cursor: pointer;
    color: #000 !important;
    border: 1px solid #000 !important;
  }
}
.content-btn {
  margin-top: 1.5rem;
  width: 85% !important;
  .btn-secondary {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    color: #fff;

    &:hover {
      box-shadow: inset 0 0 0 0 var(--main-color);
    }
  }
  .btn-outline-secondary {
    border: 1px solid var(--main-color);
    color: var(--main-color);
    font-size: 16px;
    padding: 5px 5px;
    width: inherit !important;
    &:hover {
      background-color: var(--main-color);
      border: 1px solid var(--main-color);
      color: #fff;
    }
  }
}
@media (max-width: 768px) {
  .sub-title {
    top: 65px;
  }
  .break-line {
    display: none;
  }
}
