.img-view {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  .image-blog {
    position: relative;
    img {
      border-radius: 10px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .pi {
      position: absolute;
      top: -12px;
      right: -12px;
      width: 30px;
      height: 30px;
      font-size: 1rem;
      /* border: 1px solid var(--light); */
      background-color: var(--primary);
      color: var(--light);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
