.services {
  .container-fluid {
    padding: 1rem 1rem;
    .container {
      padding: 3rem 1rem;
      .section-title {
        margin-bottom: 2rem;
        text-align: center;
      }
    }
  }
  .service-item {
    height: 240px;
    padding: 0 16px;
    h4 {
      font-size: 1.3rem;
    }
    .service-icon {
      width: 45px;
      height: 45px;
    }
    p {
      font-size: 15px;
    }
  }
}
@media (max-width: 576px) {
  .services {
    .container-fluid {
      padding: 1rem;
      .container {
        padding: 1rem 0.8rem;
        .section-title {
          margin-bottom: 2rem;
          text-align: left;
        }
        h4,
        h3,
        h2 {
          font-size: 1.1rem;
        }
        h1 {
          font-size: 1.25rem;
        }
        h6 {
          font-size: 1rem;
        }
      }
    }
    .service-item {
      .service-icon {
        width: 45px;
        height: 45px;
      }
      p {
        font-size: 15px;
      }
    }
  }
}
