.cart-wrapper {
  .shopping-cart {
    // width: 750px;
    // height: 423px;
    margin: 6rem auto;
    background: #ffffff;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #efefef;
    display: flex;
    flex-direction: column;
    // height: 70%;
    .item-value {
      font-weight: 500;
      color: #000;
    }
    .item-name {
      font-weight: 500;
      color: #5a5e61;
    }
    .summary-text {
      margin: 0.5rem 0 1.25rem;
      font-weight: 500;
      color: #797979;
    }
    .summary-note {
      strong {
        font-weight: 500;
        color: #444;
      }
      p {
        margin: 0.5rem 0 2rem;
        font-weight: 400;
        color: #8b9196;
        font-size: 14px;
      }
    }
    .border-none {
      border: 0 !important;
    }
    .ags-btn-main-fill {
      width: fit-content;
      background-color: var(--main-color);
      color: #fff;
    }
  }
  .item {
    display: flex;
    align-items: center;
    .image {
      width: 100px;
      height: 90px;
      // background-color: #efefef;
      text-align: center;
      border-radius: 10px;
      img {
        width: 100px;
        height: 90px;
      }
    }
  }
  .item-box {
    flex-grow: 1;
  }
  .title {
    height: 50px;
    border-bottom: 1px solid #e1e8ee;
    padding: 13px 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    background: var(--dark);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .item {
    padding: 20px 20px;
    height: 120px;
    border-bottom: 1px solid #efefef;
  }

  .item:nth-child(3) {
    border-top: 1px solid #e1e8ee;
    border-bottom: 1px solid #e1e8ee;
  }
  .buttons {
    position: relative;
    padding-top: 5px;
    font-size: 1.3rem;
    margin: 10px auto;
    text-align: center;
  }
  .delete-btn,
  .like-btn {
    display: inline-block;
    cursor: pointer;
  }
  .delete-btn {
    width: 18px;
    height: 17px;
    i {
      color: var(--primary);
    }
    //   background: url(&amp;quot;delete-icn.svg&amp;quot;) no-repeat center;
  }

  .like-btn {
    position: absolute;
    top: 9px;
    left: 15px;
    //   background: url("twitter-heart.png");
    width: 60px;
    height: 60px;
    background-size: 2900%;
    background-repeat: no-repeat;
  }
  .is-active {
    animation-name: animate;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
  }
  @keyframes animate {
    0% {
      background-position: left;
    }
    50% {
      background-position: right;
    }
    100% {
      background-position: right;
    }
  }
  // .image {
  //   margin-right: 0;
  // }

  .description {
    padding-top: 10px;
    //   margin-right: 60px;
    width: 200px;
  }

  .description span {
    display: block;
    font-size: 14px;
    color: #43484d;
    font-weight: 400;
  }

  .description span:first-child {
    margin-bottom: 5px;
  }
  .description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939e;
  }
  .quantity {
    // padding-top: 20px;
    // margin-right: 60px;
    margin: auto;
  }
  .quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484d;
    font-weight: 300;
  }

  button[class*="btn"] {
    width: 30px;
    height: 30px;
    background-color: #e1e8ee;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }

  .plus-btn i,
  .minus-btn i {
    color: #4e4d4d;
  }
  .back-btn {
    margin-right: 9px;
  }
  button:focus,
  input:focus {
    outline: 0;
  }
  .total-price {
    width: 100px;
    // padding-top: 10px;
    text-align: center;
    font-size: 16px;
    color: #43484d;
    font-weight: 300;
  }
  .total-item {
    text-align: right !important;
  }
  .table {
    tr {
      td,
      th {
        padding: 0.5rem 1.5rem;
      }
    }
  }
}
.switch-cart {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.confirmation {
  .icon-check {
    .uil {
      font-size: 2rem;
      color: green;
    }
  }
}
.no-items {
  text-align: center;
  // display: flex;
  // justify-content: center;
  // margin: 1rem 0;
  margin: 2rem auto;
  .empty-cart {
    width: 50px;
  }
  p {
    margin-top: 1rem;
  }
}
.summary-content {
  padding: 1rem;
  .row {
    .form-group {
      margin-bottom: 1rem;
      label {
        margin-bottom: 0.5rem;
        font-weight: 500;
        color: #000;
      }
      .form-control {
        border-radius: 5px;
      }
    }
  }
}
@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}

@media (max-width: 786px) {
  .cart-wrapper {
    .right-section {
      margin-top: 16px !important;
    }
    .left-section {
      margin-bottom: 20px !important;
    }
    .item {
      height: auto;
    }
    .description {
      text-align: left;
      margin-top: 0;
    }
    .total-price {
      margin-top: 17px;
      text-align: left;
    }
    .back-btn {
      margin-right: 13px;
    }
  }
  .switch-cart {
    align-items: flex-start;
    flex-direction: column;
    .switch-cart-item {
      margin: 10px 0;
    }
  }
}
