.breadcrumb-wrapper {
  .p-breadcrumb {
    background-color: var(--surface-ground) !important;
  }
  .p-button {
    position: absolute;
    top: 4rem;
    right: 1rem;
    padding: 5px;
    background: var(--primary) !important;
    border: 1px solid var(--primary) !important;
    .p-button-label {
      display: none;
    }
    &:focus {
      box-shadow: none;
    }
  }
}
