.blogs {
  .container {
    .row {
      .blog-item {
        .blog-img {
          .rounded-end-custom {
            border-top-right-radius: 3px !important;
            border-bottom-right-radius: 3px !important;
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .blog-item {
    h4 {
      font-size: 1rem;
    }
    p,
    a {
      font-size: 15px;
    }
  }
}
