.btn-edit-blog {
  display: flex;
  button {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    text-transform: capitalize;
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    text-transform: capitalize !important;
    font-size: 15px;
    margin: 0 10px;
  }
  .btn-edit-blog {
    background: var(--secondary);
  }
  .btn-delete-blog {
    background: var(--primary);
  }
}
.modal-delete {
  .p-dialog-mask {
    .p-dialog-footer {
      .p-button {
        background-color: var(--primary) !important;
      }
    }
  }
}
