.about {
  .container-fluid {
    padding: 3rem 0;
  }
  .container {
    padding: 3rem 0;
    .section-title {
      margin-bottom: 3rem;
      text-align: left;
    }
    .btn-quote {
      margin-top: 1rem;
      padding: 0.7rem 2rem !important;
      font-size: 1.2rem;
      color: #fff;
    }
  }
}
.call-icon {
  width: 60px;
  height: 60px;
}
.about-img-box {
  // min-height: 500px;
  .img-wrapper {
    height: 100%;
  }
  img {
    object-fit: cover;
  }
}
.text-danger {
  color: var(--primary) !important;
}

@media (max-width: 576px) {
  .about {
    .container-fluid {
      padding: 1rem 1.5rem;
    }
    .container {
      padding: 1rem 0;
      .section-title {
        margin-bottom: 2rem;
      }
      h1 {
        font-size: 1.25rem;
      }
      h6 {
        font-size: 1rem;
      }
      .about-text {
        font-size: 15px;
      }
      .about-items {
        h5 {
          font-size: 1rem;
        }
      }
      .call-box {
        h5,
        h4 {
          font-size: 16px;
        }
        .call-icon {
          width: 43px;
          height: 43px;
        }
      }
      .btn-quote {
        margin-top: 0.25rem;
        padding: 0.35rem 1rem !important;
        font-size: 1rem;
      }
    }
  }
  .about-img-box {
    min-height: 250px;
    // .img-wrapper {
    //   height: 50%;
    // }
  }
}
