.products-grid {
  grid-gap: 35px;
  align-items: stretch;
  display: grid;
  gap: 35px;
  grid-template-columns: repeat(auto-fill, minmax(260px, 0fr));
  justify-content: center;
}
.all-products-wrapper {
  .row::-webkit-scrollbar {
    display: none !important;
  }
}
@media (max-width: 786px) {
  .all-products-wrapper {
    .col-lg-4 {
      margin: 16px 0;
    }
  }
  .products-grid {
    grid-gap: 25px;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 0fr));
  }
}
