.search-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto 1rem !important;
  width: 98% !important;
  .form-control {
    border: 1px solid #ddd;
    padding: 8px 11px !important;
    border-radius: 5px;
    &:focus {
      box-shadow: none;
      border: 1px solid var(--primary);
    }
  }
  .group-buttons {
    display: flex;
    justify-content: flex-end;
    padding-left: 10px;
    .ags-btn-main-fill {
      background-color: var(--main-color);
      border: 1px solid var(--main-color);
      color: #fff;
      font-size: 1.2rem;
      margin: 5px;
      border-radius: 12%;
      padding: 7px 10px;
      text-align: center;
      width: fit-content !important;
      transition: all 0.5s ease-in-out;
      img {
        width: 30px;
        // height: fit-content;
        filter: brightness(0) invert(1);
      }
      &:hover {
        cursor: pointer;
      }
    }
    .chosen_cat {
      background-color: #1c2536 !important;
      border: 1px solid #1c2536 !important;
      color: #fff !important;
      transform: translateY(-3px);
    }
  }
}
.view-layout {
  text-align: right;
  padding-right: 1rem;
  span {
    font-size: 36px;
  }
  .active-icon {
    color: #000;
  }
}
.box-pagination {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}
.box-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
}
.empty-products {
  text-align: center;
  margin: 3rem auto;
  small {
    display: block;
    margin-top: 1.5rem;
    color: #8f8f8f;
  }
}
.product-wrapper {
  .content sup {
    color: #fff;
  }
  .btn-login {
    background-color: var(--main-color);
  }
}
@media (max-width: 786px) {
  .search-container {
    grid-template-columns: 1fr;
    width: 100%;
    .form-control {
      padding: 10px !important;
    }
    .group-buttons {
      padding-left: 0;
      margin-top: 1rem;
      .ags-btn-main-fill {
        font-size: 1rem;
        width: 30% !important;
      }
    }
  }
}
