.quote {
  .phone-icon {
    width: 60px;
    height: 60px;
  }
  .section-title {
    text-align: left !important;
  }
  .form-input {
    height: 55px;
  }
}
.quote-form {
  display: flex;
  align-items: center;
  padding: 3rem;
}
@media (max-width: 786px) {
  .form-wrapper {
    display: none;
  }
}
@media (max-width: 576px) {
  .quote-container {
    .container-fluid {
      margin: 1rem auto;
      .container {
        margin: 0 auto;
        .section-title {
          margin-bottom: 2rem;
          text-align: left;
        }
        h4 {
          font-size: 1.1rem;
        }
        h1 {
          font-size: 1.25rem;
        }
        h6,
        h5 {
          font-size: 1rem;
        }
        p {
          font-size: 15px;
        }
      }
    }
    .quote {
      .phone-icon {
        width: 45px;
        height: 45px;
      }
    }
    .quote-form {
      padding: 1.5rem;
    }
  }
  .form-wrapper {
    display: none;
  }
}
