.new-blog {
  font-family: "Rubik", sans-serif;
  .new-blog-content {
    .container {
      .row {
        .form-group {
          margin: 1rem 0;
          label {
            font-weight: 500;
          }
          .form-control {
            border-radius: 5px;
          }
        }
      }
      .p-panel .p-panel-header {
        justify-content: center;
      }
    }
  }
  .file-section {
    .header-uploader {
      display: flex;
      align-items: center;
    }
    .block-upload {
      display: flex;
      align-items: center;
      flex-direction: column;
      font-size: 14px;
      font-weight: 400;
      font-family: "Rubik", sans-serif;
    }
    .item-template {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .item-file {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .item-file-info {
          display: flex;
          flex-direction: column;
          text-align: left;
          margin-left: 1rem;
        }
      }
    }
    .p-button-outlined {
      margin-left: auto;
    }
    .p-button {
      height: 2rem !important;
      width: 2rem;
    }
  }
  .p-multiselect .p-multiselect-label {
    padding: 0.4rem 0.75rem;
  }
  .btn-add-blog {
    text-align: center;
    margin-top: 1.5rem;
    .p-button {
      padding: 0.5rem 1rem;
      font-size: 0.9rem;
    }
  }
}
