@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500);

.not-found-page {
  padding-top: 3rem;
  height: 100vh;
  background-color: #e84545;
  color: #fff;
  font-size: 100%;
  line-height: 1.5;
  font-weight: 300 !important;
  font-family: "Roboto", sans-serif !important;
  .button {
    font-weight: 300 !important;
    color: #fff !important;
    font-size: 1.2em;
    text-decoration: none;
    border: 1px solid #efefef;
    padding: 0.5em;
    border-radius: 3px;
    float: left;
    margin: 6em 0 0 -155px;
    left: 50%;
    position: relative;
    transition: all 0.3s linear;
  }

  .button:hover {
    background-color: #e84545;
    color: #fff;
    cursor: pointer;
  }

  p {
    font-size: 2em;
    text-align: center;
    font-weight: 100;
  }

  h1 {
    text-align: center;
    font-size: 15em;
    font-weight: 100 !important;
  }
}
@media (max-width: 768px) {
  .not-found-page {
    h1 {
      font-size: 9em;
    }
  }
}
