.features {
  .section-title {
    max-width: 600px;
    text-align: center;
  }
  .feature-item {
    width: 60px;
    height: 60px;
  }
  .feature-box {
    min-height: 350px;
    img {
      object-fit: cover;
    }
  }
  .container {
    padding-top: 0;
  }
}
@media (max-width: 576px) {
  .features {
    display: none;
    // .container {
    //   padding: 0.5rem 1rem;
    //   .section-title {
    //     margin-bottom: 2rem;
    //     text-align: left;
    //   }
    //   h4 {
    //     font-size: 1.1rem;
    //   }
    //   h1 {
    //     font-size: 1.25rem;
    //   }
    //   h6 {
    //     font-size: 1rem;
    //   }
    //   .feature-item {
    //     width: 45px;
    //     height: 45px;
    //     p {
    //       font-size: 15px;
    //     }
    //   }
    // }
    // .feature-box {
    //   margin: 1.5rem 0;
    // }
  }
}
