.btn-products-view {
  background-color: var(--dark);
  color: #fff;
  padding: 4px 10px;
  border-radius: 5px;
  font-size: 13px;
}
.modal {
  .modal-header {
    background-color: var(--dark);
    color: #fff;
    h3,
    .btn-close {
      color: #fff;
    }
  }
}
