.layout {
  .p-button {
    padding: 0.5rem 1.5rem;
    background: var(--dark) !important;
    color: #fff;
    border: 1px solid var(--dark) !important;
    &:enabled:hover {
      background: #e9ecef !important;
      color: #111 !important;
    }
    &:focus {
      box-shadow: none;
    }
  }
  .card {
    background: var(--dark);
    border-radius: 0;
    flex-direction: row;
    justify-content: space-between;
    .logo {
      margin: 0;
      color: #fff;
      span {
        color: var(--primary);
      }
    }
    .p-menubar {
      background: var(--dark);
      color: #fff;
      border: 1px solid var(--dark);
      border-radius: 0;
      gap: 16px;
      .p-menuitem {
        .p-menuitem-link {
          padding: 0.6rem 1rem;
          .p-menuitem-icon,
          .p-menuitem-text,
          .p-submenu-icon {
            color: #efefef;
            font-weight: 500;
          }
        }
        // & :hover {
        //   box-shadow: inset 0 0 0 0.15rem #f58291;
        // }
      }
      .p-submenu-list {
        .p-menuitem-link {
          padding: 0.75rem 1.2rem;
          .p-menuitem-icon,
          .p-menuitem-text,
          .p-submenu-icon {
            color: #111;
            font-weight: 500;
            font-size: 14px;
          }
        }
      }
    }
    .logout {
      display: flex;
    }
  }
}

@media (max-width: 768px) {
  .layout {
    .p-menubar {
      display: flex;
      flex-direction: row-reverse;
      .p-menuitem {
        .p-menuitem-link {
          .p-menuitem-text,
          .p-menuitem-icon {
            color: #000 !important;
          }
        }
      }
    }
  }
}
