.product {
  background: #fcfafa;
  border-radius: 15px !important;
  height: 407px;
  overflow: hidden;
  position: relative;
  transition: all 0.5s ease-in-out;
  width: 270px !important;
  box-shadow: 0 8px 24px hsla(210, 8%, 62%, 0.2) !important;
  .card {
    word-wrap: break-word;
    background-clip: initial;
    background-color: var(--bs-card-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #fff;
    height: 407px;
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease-in-out;
    width: 270px !important;
    text-align: center;
    border-radius: 15px !important;
    border: 0;
    .edit-product {
      position: absolute;
      top: 10px;
      right: 10px;
      border: 1px solid var(--secondary);
      border-radius: 20px;
      color: var(--secondary);
      transition: all 0.5s ease-in-out;
      &:hover {
        cursor: pointer;
        background-color: var(--secondary);
        color: #fff;
      }
    }
    .hide-product {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 25px;
      height: 25px;
      border: 1px solid var(--dark);
      border-radius: 20px;
      color: var(--dark);
      transition: all 0.5s ease-in-out;
      &:hover {
        cursor: pointer;
        background-color: var(--dark);
        color: #fff;
      }
    }
    .contentBox {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      flex-direction: column;
      padding: 0 5px;
      z-index: 2;
    }
    .img-product {
      height: 170px;
      max-width: 100%;
      object-fit: fill;
    }
    .button_container {
      margin: 1rem auto;
      .ags-btn-main-fill {
        background-color: var(--primary);
        border: 1px solid var(--primary);
        padding: 2px 5px;
        border-radius: 3px;
        color: #fff;
        margin: 0 4px;
      }
      .ags-btn-sucess-fill {
        border: 2px solid var(--secondary);
        background-color: var(--secondary);
        border-radius: 3px;
        color: var(--white);
        padding: 1px 5px;
        opacity: 1;
        margin: 0 4px;
        color: #fff;
      }
    }
  }
}
@media (max-width: 786px) {
  .product {
    width: 300px !important;
    .card {
      width: 300px !important;
    }
  }
}
