* {
  box-sizing: border-box;
}

.blog-slider {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  transition: all 0.3s;
}
.package-products {
  margin: 3rem 0;
  .owl-stage {
    // background: #241e1e !important;
    background: none !important;
    // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
    // background: url(https://mooncart.dexignzone.com/xhtml/images/background/bg-8.png) !important;
  }
  .section-title {
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 992px) {
  .blog-slider {
    max-width: 680px;
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  .blog-slider {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider {
    height: 350px;
  }
}
.package-slider__item {
  display: flex;
  align-items: center;
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 300px;
  transition: all 0.3s;
  margin: 2rem auto;
  &:hover {
    cursor: pointer;
  }
}
@media screen and (max-width: 768px) {
  .package-slider__item {
    flex-direction: column;
    margin: 6rem auto 1rem;
  }
}
.blog-slider__item.swiper-slide-active .package-slider__img img {
  opacity: 1;
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > * {
  opacity: 1;
  transform: none;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
  transition-delay: 0.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
  transition-delay: 0.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
  transition-delay: 0.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
  transition-delay: 0.7s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
  transition-delay: 0.8s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
  transition-delay: 0.9s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
  transition-delay: 1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
  transition-delay: 1.1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
  transition-delay: 1.2s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
  transition-delay: 1.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
  transition-delay: 1.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
  transition-delay: 1.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
  transition-delay: 1.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
  transition-delay: 1.7s;
}
.package-slider__img {
  width: 250px;
  height: 235px;
  flex-shrink: 0;
  //   background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  //   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
  transform: translateX(-80px);
  overflow: hidden;
}
.package-slider__img {
  width: 250px;
  height: 220px;
  flex-shrink: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
  transform: translateX(-80px);
  background: #fff;
  img {
    opacity: 1 !important;
    object-fit: cover !important;
  }
}
.package-slider__img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 0.8;
}
.package-slider__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all 0.3s;
}
// .package-parent {
.p-dialog .p-dialog-header {
  background: #d80000 !important;
  color: #fff !important;
  padding: 0.5rem 1rem !important;
  .p-dialog-title {
    font-weight: 400 !important;
    font-family: "Rubik", sans-serif;
  }
}
.p-dialog .p-dialog-header .p-dialog-header-icon {
  color: #fff !important;
  &:hover {
    color: #444 !important;
  }
}
.p-dialog .p-dialog-content {
  padding: 1.5rem 2rem !important;
  font-family: "Rubik", sans-serif;
}
.footer-Dialog {
  text-align: center;
  margin-top: 1.8rem;
  margin-bottom: 0.5rem;
}
.p-dialog {
  width: 45vw;
}
// }
@media screen and (max-width: 768px) {
  .package-slider__img {
    transform: translateY(-50%);
    width: 90%;
  }
  .p-dialog {
    width: 100vw;
  }
}
@media screen and (max-width: 576px) {
  .package-slider__img {
    width: 95%;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .package-slider__img {
    height: 220px;
  }
}
.blog-slider__content {
  padding-right: 25px;
}
@media screen and (max-width: 768px) {
  .blog-slider__content {
    margin-top: -100px;
    text-align: center;
    padding: 0 30px;
  }
}
@media screen and (max-width: 576px) {
  .blog-slider__content {
    padding: 0;
  }
}
.blog-slider__content > * {
  opacity: 1;
  transform: translateY(25px);
  transition: all 0.4s;
}
.blog-slider__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}
.blog-slider__title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 10px;
}
.blog-slider__text {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
  ul {
    list-style: none;
    padding: 0;
    li {
      .item-package {
        display: flex !important;
        align-items: center;
        margin: 8px 0;
        img {
          width: 25px;
          margin-right: 10px;
          height: 25px;
        }
        span {
          font-size: 15px;
          font-weight: 500;
        }
      }
    }
  }
}
.blog-slider__button {
  display: inline-flex;
  //   background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  background-color: #cf0a2c;
  padding: 8px 23px;
  border-radius: 7px;
  color: #fff;
  box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
  a {
    color: #fff;
  }
  &:hover {
    color: #fff;
  }
}
.form-order {
  .row {
    .form-group {
      margin-bottom: 1rem;
      label {
        margin-bottom: 0.5rem;
      }
      .form-control {
        border-radius: 6px;
        padding: 0.575rem 0.75rem;
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .blog-slider__button {
    width: 100%;
  }
}
.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets,
.blog-slider .swiper-pagination-custom,
.blog-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.blog-slider__pagination {
  position: absolute;
  z-index: 21;
  right: 20px;
  width: 11px !important;
  text-align: center;
  left: auto !important;
  top: 50%;
  bottom: auto !important;
  transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .blog-slider__pagination {
    transform: translateX(-50%);
    left: 50% !important;
    top: 205px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 0;
}

@media screen and (max-width: 768px) {
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
  }
}
.blog-slider__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  background: #062744;
  opacity: 0.2;
  transition: all 0.3s;
}
.blog-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #fd3838;
  height: 30px;
  box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
}

@media screen and (max-width: 768px) {
  .package-products {
    margin: 3rem 0;
    .section-title {
      margin-bottom: 1.3rem;
    }
  }
  .blog-slider__pagination .swiper-pagination-bullet-active {
    height: 11px;
    width: 30px;
  }
  .blog-slider__title {
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 10px;
  }
  .blog-slider__text {
    font-size: 13px;

    margin-bottom: 10px;
  }
  .blog-slider__code {
    // display: none;
  }
  .package-slider__img {
    width: 285px;
    height: 200px;
  }
  .package-slider__item {
    height: 425px;
  }
}
