.product {
  background: #fcfafa;
  border-radius: 15px !important;
  height: 407px;
  overflow: hidden;
  position: relative;
  transition: all 0.5s ease-in-out;
  width: 270px !important;
  box-shadow: 0 8px 24px hsla(210, 8%, 62%, 0.2) !important;
  .card {
    word-wrap: break-word;
    background-clip: initial;
    background-color: var(--bs-card-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #fff;
    height: 407px;
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease-in-out;
    width: 270px !important;
    text-align: center;
    border-radius: 15px !important;
    border: 0;
    .contentBox {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      flex-direction: column;
      padding: 0 5px;
      z-index: 2;
    }
    .img-product {
      height: 170px;
      max-width: 100%;
      object-fit: fill;
    }
    .button_container {
      margin: 1rem auto;
      .ags-btn-main-fill {
        background-color: var(--primary);
        border: 1px solid var(--primary);
        padding: 2px 5px;
        border-radius: 3px;
        color: #fff;
        margin: 0 4px;
      }
      .ags-btn-sucess-fill {
        border: 2px solid var(--secondary);
        background-color: var(--secondary);
        border-radius: 3px;
        color: var(--white);
        padding: 1px 5px;
        opacity: 1;
        margin: 0 4px;
        color: #fff;
      }
    }
  }
}

// new style fro product template
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
$font: "Lato", sans-serif;

$white: #f5f5f5;
$light: #e0c9cb;
$tan: #d80000;
$pink: #d80000;
$rose: #d80000;
$dark: #32353a;

// /* center container in the middle */
// html {
//   display: grid;
//   min-height: 100%;
// }

// body {
//   display: grid;
//   background: $light;
//   font-family: $font, sans-serif;
//   text-transform: uppercase;
// }
.all-products-wrapper {
  .product-item-card {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    position: relative;
    // margin: auto;
    margin: 16px 0;
    overflow: hidden;
    // width: 520px;
    height: 95%;
    // background: $white;
    background: #fff;
    // box-shadow: 5px 5px 15px rgba($rose, 0.5);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    .img-brand {
      position: absolute;
      top: -40px;
      left: 16px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .heading-product {
      font-size: 1.2rem !important;
    }
    .right-section,
    .left-section {
      // border: 1px solid #ccc;
      // flex-direction: column;
      // justify-content: space-evenly;
      // height: inherit;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
    .marketing-icons {
      margin-left: 10px;
      gap: 20px;
    }
    .icon-img {
      width: 25px;
      height: 25px;
      border: 0;
      img {
        width: 40px !important;
        height: 23px !important;
      }
    }
  }
  p {
    font-size: 0.8em;
    font-weight: 500;
    color: $rose;
    letter-spacing: 1px;
    margin-bottom: 6px;
  }

  h1 {
    font-size: 1.2em;
    color: $dark;
    margin-right: 16px;
  }

  h2 {
    color: $rose;
    margin-top: 0;
  }

  img {
    // width: 290px;
    // margin-top: 47px;
    width: 200px;
    height: 170px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    // margin-left: 1.5rem;
    // margin-top: 1rem;
  }

  .slideshow-buttons {
    top: 70%;
    display: none;
  }

  .one,
  .two,
  .three,
  .four {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: $light;
  }

  .one {
    left: 22%;
  }
  .two {
    left: 27%;
  }
  .three {
    left: 32%;
  }
  .four {
    left: 37%;
  }

  .product {
    // position: absolute;
    // width: 40% !important;
    // height: 100%;
    // top: 0%;
    // left: 58%;
    background: #fff !important;
    box-shadow: none !important;
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
    margin-top: 1rem;
  }

  .desc {
    text-transform: none;
    letter-spacing: 0;
    margin-bottom: 17px;
    // margin-top: 17px;
    color: $dark;
    font-size: 0.7em;
    line-height: 1.6em;
    margin-right: 25px;
    text-align: justify;
  }

  button {
    background: darken($rose, 3%);
    padding: 7px;
    display: inline-block;
    outline: 0;
    border: 0;
    // margin: -1px;
    margin: 20px 2px 5px;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    cursor: pointer;
    &:hover {
      background: $rose;
      transition: all 0.4s ease-in-out;
    }
  }
  .images {
    img {
      width: 240px;
      height: 204px;
      margin-left: 3rem;
      margin-top: 1rem;
    }
  }
  .add {
    width: 67%;
  }
  .price {
    font-size: 20px;
    font-weight: 700 !important;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
  }
  .like {
    width: 22%;
  }

  .sizes {
    // display: grid;
    color: $pink;
    // grid-template-columns: repeat(auto-fill, 30px);
    // width: 60%;
    width: 300px;
    grid-gap: 4px;
    margin-left: 20px;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;

    &:hover {
      cursor: pointer;
    }
  }

  .pick {
    // margin-top: 5px;
    margin-bottom: 0;
    margin-left: 20px;
  }
  .selected-capacity {
    background-color: #d80000;
    color: #fff;
  }
  .non-of-stock {
    background: #efefef;
    border: 1px solid #efefef;
    color: #444;
  }
  .size {
    // padding: 4px 9px;
    padding: 3px 5px;
    border: 1px solid $light;
    font-size: 0.7em;
    text-align: center;
    border-radius: 3px;
    // width: 60px;
    &:hover {
      background: $rose;
      color: $white;
      transition: all 0.4s ease-in-out;
    }
  }

  .focus {
    background: $rose;
    color: $white;
  }

  footer {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.8em;
    text-transform: uppercase;
    padding: 10px;
    p {
      letter-spacing: 3px;
    }
    a {
      color: #ffffff;
      text-decoration: none;
      &:hover {
        color: #7d7d7d;
      }
    }
  }
}
.icon-brand {
  position: absolute;
  top: 10px;
  left: 14px;
  color: #000;
  font-weight: 500;
}
@media (max-width: 786px) {
  .product {
    width: 300px !important;
    .card {
      width: 300px !important;
    }
  }
  .all-products-wrapper {
    .product-item-card {
      height: 100%;
      grid-template-columns: 1fr;
      gap: 0;
      .left-section {
        align-items: flex-start;
      }
      .product-image {
        margin: auto;
      }
      .product {
        justify-content: flex-start !important;
        position: relative;
        width: 85% !important;
        height: 100%;
        top: -2%;
        left: 7%;
      }
      .pick {
        margin-top: 20px;
      }
      button {
        margin: 5px 2px 5px;
        padding: 4px 7px;
      }
    }
    .images img {
      width: 240px;
      height: 265px;
    }
  }
}
