.suppliers {
  padding: 3rem 0;
  .supplier-item {
    width: 165px;
    height: 70px;
  }
  .owl-item {
    width: 200px !important;
    height: 50px;
  }
}

@media (max-width: 768px) {
  .suppliers {
    // padding: 0;
    // margin: 2rem auto !important;
    // display: none;
    margin-bottom: 2rem;
    margin-top: 2rem;
    .supplier-item {
      width: 125px;
      height: 70px;
    }
    .owl-item {
      // width: 380.333px !important;
      width: 150.33px !important;
    }
  }
}
