.css-1wvnaxz-MuiTableCell-root.MuiTableCell-head {
  background-color: #d3d3d3 !important;
  color: #363636 !important;
}
p {
  font-family: "Rubik", sans-serif;
}
.propriety {
  font-weight: 500;
}
.product-info {
  .table {
    text-align: center;
    font-size: 15px;
    tr {
      td,
      th {
        vertical-align: baseline;
      }
    }
  }
}
