.marquee {
  width: 100%;
  // background-color: var(--primary);
  background-color: #d80000 !important;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 40s linear infinite;
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: capitalize;
  margin: 0;
}
b {
  color: var(--dark) !important;
  font-weight: 400;
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

// #mainmodal {
//   position: relative;
//   font-family: Arial;
//   top: 0;
//   left: 0;
//   z-index: 99999;
//   height: 100%;
//   width: 100%;
//   text-align: center;
// }
// .modalconent {
//   //   position: absolute;
//   //   top: 50%;
//   //   left: 50%;
//   //   transform: translate(-50%, -50%);
//   display: flex;
//   align-items: center;
//   background: var(--primary);
//   width: 100%;
//   padding: 5px;
// }

// .breakingtitle {
//   font-size: 50px;
//   background: black;
//   color: var(--primary);
//   padding: 10px;
// }

// #readmorebutton {
//   background: black;
//   color: var(--primary);
//   border-style: none;
//   padding: 20px;
//   font-size: 20px;
// }

// .marquee {
//   color: #fff;
//   letter-spacing: 2px;
//   font-weight: 300;
//   font-family: "Rubik", sans-serif;
//   padding: 0;
//   font-size: 14px;
// }
