.search-container {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2rem auto;
  width: 92%;
  .form-control {
    border: 1px solid #ddd;
    padding: 8px 11px !important;
    border-radius: 5px;
    &:focus {
      box-shadow: none;
      border: 1px solid var(--primary);
    }
  }
  .group-buttons {
    display: flex;
    justify-content: flex-end;
    padding-left: 10px;
    .ags-btn-main-fill {
      background-color: var(--primary);
      border: 1px solid var(--primary);
      color: #fff;
      border-radius: 7px;
      font-size: 1rem;
      margin: 5px;
      padding: 4px 15px;
      text-align: center;
      width: 30%;
      transition: all 0.5s ease-in-out;
      &:hover {
        cursor: pointer;
      }
    }
    .chosen_cat {
      background-color: #1c2536 !important;
      border: 1px solid #1c2536 !important;
      color: #fff !important;
      transform: translateY(-3px);
    }
  }
}

@media (max-width: 786px) {
  .search-container {
    grid-template-columns: 1fr;
    width: 100%;
    .form-control {
      padding: 10px !important;
      margin-top: 1rem;
    }
    .group-buttons {
      padding-left: 0;
      margin-top: 1rem;
      .ags-btn-main-fill {
        font-size: 1rem;
        padding: 9px 15px;
      }
    }
  }
}
