// .container-fluid {
//   background: url(https://mooncart.dexignzone.com/xhtml/images/background/bg-8.png) no-repeat center center !important;
//   -webkit-background-size: cover !important;
//   -moz-background-size: cover !important;
//   -ms-background-size: cover !important;
//   -o-background-size: cover !important;
//   background-size: cover !important;
// }
@media (max-width: 767px) {
  .shared-header {
    padding-top: 0 !important;
  }
}
