.feature-products-wrapper {
  .container-fluid {
    // padding-top: 3rem;
    // padding-bottom: 3rem;
  }
}
.product-item {
  border-radius: 15px !important;
  height: 300px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0 7px;
  .product-item-img {
    .img-member {
      object-fit: cover;
      //   width: 215px !important;
      //   height: 215px !important;
    }
  }
  h4 {
    font-size: 0.85rem;
  }
  p {
    font-size: 0.9rem;
    color: #444;
    font-weight: 600;
  }
}
.heading-feature {
  font-size: 1.25rem;
}
.item-member {
  flex: 0 0 auto;
  // width: 50%;
  margin: 1rem 2.65rem;
}
.product-item-img-container .owl-item {
  margin-right: 9px !important;
  width: 215px !important;
  img {
    width: 200px;
    height: 200px;
  }
}
.second-carousel {
  display: block;
}
@media (max-width: 768px) {
  .feature-products-wrapper {
    margin-top: 1.8rem;
  }
  .team-wrapper {
    .container-fluid {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
  .product-item-img-container .owl-item {
    margin-right: 9px !important;
    // width: auto !important;
    width: 310px !important;
    .product-item-img {
      .img-member {
        width: 165px !important;
        height: 155px;
        margin: auto;
      }
    }
    .item-member {
      margin: 1rem 0.65rem;
    }
  }
  .second-carousel {
    display: none;
  }
  .product-item {
    height: 245px !important;
  }
}
