.img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 5px;
  //   padding: 2rem 0;
  margin: 0;
}
.btn-rounded {
  border-radius: 4px !important;
}
.product-detail {
  margin: 0;
  h1 {
    font-size: 1.7rem;
    line-height: 1.2;
    color: #000;
    letter-spacing: -0.01em;
    font-weight: 700;
    margin-bottom: 2px;
  }
  .p-inputtext:enabled:focus {
    box-shadow: 0 0 8px 2px rgba(126, 33, 33, 0.2);
    border-color: var(--primary);
  }
  .p-inputtext:enabled:hover {
    border: 1px solid var(--primary);
  }
}
.sale-price {
  padding-right: 35px;
}
.btn-save-box {
  text-align: center;
  .btn-save {
    padding: 5px 16px;
    margin-bottom: 2rem;
    border-radius: 5px;
    background: var(--dark);
    color: var(--light);
  }
}
.price-stock {
  margin-right: 1rem;
  margin-top: 1rem;
}
