.contact {
  .section-title {
    max-width: 600px;
  }
  .row {
    .contact-item {
      .bg-primary {
        width: 60px;
        height: 60px;
      }
    }
  }
  .contact-form {
    .input-item {
      height: 55px;
    }
  }
}

@media (max-width: 768px) {
  .contact {
    .row {
      .contact-item {
        .bg-primary {
          width: 45px;
          height: 45px;
        }
        h5 {
          font-size: 1rem;
        }
      }
      .contact-form {
        .btn {
          padding: 9px !important;
        }
      }
    }
  }
}
