.navbar {
  padding: 3rem 3rem;
}
.icon-logo {
  // color: var(--primary);
  color: #d80000;
  font-family: auto;
}
.content {
  position: relative;
  sup {
    border: 0;
    border-color: #6c1f1f;
    border-style: solid;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: var(--primary);
    position: absolute;
    top: 18px;
    text-underline-offset: 4px;
    padding-left: 5px;
    font-family: monospace;
    color: var(--dark);
  }
}
.btn-login {
  border-radius: 5px;
  padding: 5px 10px !important;
  color: #fff;
  background-color: var(--dark);
  &:hover {
    background-color: var(--main-color);
    color: #fff;
    box-shadow: none !important;
  }
}
.cart-icon {
  padding: 1rem 0;
  position: relative;
  img {
    display: flex;
    justify-content: space-between;
    width: 40%;
    // filter: invert(1);
  }
  span {
    border-radius: 13px;
    border: 1px solid var(--main-color);
    color: #fff;
    background: var(--main-color);
    position: absolute;
    top: 6px;
    right: 22px;
  }
}
.navbar-toggler {
  color: var(--primary) !important;
  border: 1px solid var(--primary);
  // border-color: #e3e3e3 !important;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  .navbar {
    padding: 3rem 1rem;
  }
  .content {
    position: relative;
    sup {
      color: var(--dark) !important;
      // top: 18px;
    }
  }
  .btn-login {
    margin: 10px 25px !important;
  }
  .cart-icon {
    padding: 0.5rem 0;
    position: relative;
    img {
      display: flex;
      justify-content: space-between;
      width: 40%;
      filter: invert(1);
    }
    span {
      border-radius: 13px;
      border: 1px solid var(--main-color);
      color: #fff;
      background: var(--main-color);
      position: absolute;
      top: -3px;
      right: 22px;
    }
  }
}
