.header-carousel {
  display: block;
}
.carousel-content {
  padding: 1rem;
  max-width: 900px;
}
.display-1 {
  font-size: 3rem;
}
.carousel-caption {
  h5 {
    font-size: 1.5rem;
  }
}
.carousel-item {
  height: 750px;
}
@media (max-width: 768px) {
  .header-carousel {
    display: none;
  }
  .carousel-item {
    height: auto;
  }
  .carousel-caption {
    h5 {
      font-size: 0.8rem;
    }
    h1 {
      font-size: 13px;
    }
  }
  .carousel-content {
    margin-top: 4rem;
  }
}
