.products-grid {
  grid-gap: 35px;
  align-items: stretch;
  display: grid;
  gap: 35px;
  grid-template-columns: repeat(auto-fill, minmax(260px, 0fr));
  justify-content: center;
}
@media (max-width: 786px) {
  .products-grid {
    grid-gap: 25px;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 0fr));
  }
}
