.product-footer {
  font-family: "Rubik", sans-serif;
}
.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
  box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
}
.css-19kzrtu {
  padding: 20px 0 !important;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  font-family: "Rubik", sans-serif;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  font-family: "Rubik", sans-serif !important;
}
