.img-blog {
  width: 100% !important;
  height: 500px;
  // height: 325px !important;
}
#blogDetail {
  .fw-semi-bold {
    width: 100%;
  }
  .recent-blog-item {
    transition: all 0.5s ease-in-out;
    &:hover {
      cursor: pointer;
    }
  }
}
.more-text {
  color: #0067b8;
  transition: all 0.5s ease-in-out;
  &:hover {
    cursor: pointer;
  }
}
.others-blogs {
  padding: 0;
  .blogs-wrapper {
    padding: 1rem 0;
    .blog-item {
      .blog-img {
        height: auto;
        .img-fluid {
          height: 200px;
        }
      }
      .blog-info {
        h4 {
          font-size: 0.9rem;
        }
        p {
          font-size: 0.85rem;
        }
      }
      .read-more {
        text-transform: uppercase;
        font-size: 11px;
      }
    }
  }
}

@media (max-width: 768px) {
  .img-blog {
    height: auto;
  }
}
