// .img-box {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: #f9f9f9;
//   border-radius: 5px;
//   //   padding: 2rem 0;
//   margin: 0 0 1rem 0;
//   height: 400px;
// }
// .btn-rounded {
//   border-radius: 4px !important;
// }
// .btn-quote-datasheet {
//   display: inline-flex;
//   span {
//     margin: 5px;
//     font-size: 19px;
//     padding: 0 2px;
//   }
// }
// .product-detail {
//   margin: 0;
//   h1 {
//     font-size: 1.7rem;
//     line-height: 1.2;
//     color: #000;
//     letter-spacing: -0.01em;
//     font-weight: 700;
//     margin-bottom: 2px;
//   }
// }
.marketing-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  .icon-img {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #ebe7e7;
    img {
      width: inherit;
      mix-blend-mode: multiply;
    }
    .mircoless-img,
    .amazon-img {
      width: 34px;
    }
    .sharaf-dg {
      width: 60px;
    }
    .noon-img {
      width: 35px;
    }
  }
  &:hover {
    cursor: pointer;
  }
}

//  New Styles
.product-details {
  // background-image: url("../img/product4.png");
  // background: url(https://mooncart.dexignzone.com/xhtml/images/background/bg-8.png) !important;
  // background-position: top;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -ms-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  padding: 6rem 0;
  // background: url(https://mooncart.dexignzone.com/xhtml/images/background/bg-8.png) no-repeat center center !important;
  // -webkit-background-size: cover !important;
  // -moz-background-size: cover !important;
  // -ms-background-size: cover !important;
  // -o-background-size: cover !important;
  // background-size: cover !important;
  .single-product-info-left {
    .title {
      margin: 0.5rem 0 2rem;
    }
    .swiper-meta-items {
      display: flex;
      margin: 1rem 0 2rem;
      .meta-content {
        display: grid;
        .price-name {
          font-size: 14px;
          font-weight: 600;
          color: #444;
          margin-bottom: 0.85rem;
        }
        .price-num {
          // margin-bottom: 10px;
          font-size: 28px;
          font-weight: 500;
          font-family: var(--font-family-title);
          color: var(--main-color);
          line-height: 1.3;
        }
        .qty-name {
          font-weight: 600;
          color: #444;
        }
        .capacity-num {
          padding: 2px 5px;
          border: 1px solid #e6e6e6;
          margin: 0 5px;
          font-weight: 200;
          transition: all 0.5s ease-in-out;
          &:hover {
            cursor: pointer;
            border: 1px solid #444;
            color: #444;
            background-color: #f8f8f8;
          }
        }
        .icon-control {
          font-size: 1.8rem;
        }
      }
      .meta-content:nth-child(1) {
        margin-right: 2rem;
      }
    }
    .content-btn {
      width: 85% !important;
      .btn-secondary {
        background-color: var(--main-color);
        border: 1px solid var(--main-color);
        color: #fff;
        width: inherit;
        &:hover {
          box-shadow: inset 0 0 0 0 var(--main-color);
        }
      }
      .btn-outline-secondary {
        border: 1px solid var(--main-color);
        color: var(--main-color);
        &:hover {
          background-color: var(--main-color);
          border: 1px solid var(--main-color);
          color: #fff;
        }
      }
    }
  }
  .single-product-media {
    text-align: center;
    img {
      width: 400px !important;
      height: 350px !important;
    }
  }
  .single-product-info-right {
    .dz-title {
      margin-bottom: 1.5rem;
    }
    .service-icon-bx {
      display: flex;
      align-items: center;
      gap: 35px;
      margin-bottom: 5px;
      padding: 0;
      li {
        list-style: none;
        .nav-link {
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 0;
          .dz-icon {
            font-size: 41px;
            color: #ababab;
            .uil-shield:before {
              margin: 0;
            }
          }
          .info-content {
            span {
              font-weight: 500;
              font-size: 14px;
              line-height: 1.5;
              color: var(--main-color);
            }
            .title {
              font-size: 20px;
            }
          }
        }
      }
    }
    .service-icon-list {
      padding: 0;
      list-style: none;
      li {
        padding: 0;
        display: flex;
        align-items: center;
        gap: 15px;
        padding-bottom: 15px;
        padding-top: 15px;
        // padding-bottom: 11px;
        // padding-top: 11px;
        h3 {
          font-weight: 600;
          color: #24262b;
          line-height: 1.4;
          margin-bottom: 0;
          font-size: 1.25rem;
        }
      }
    }
  }
  .features-product {
    margin-top: 3rem;
    .box {
      .product-content {
        text-align: center;
        padding: 38px 16px;
        background: #f3f3f3;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h6 {
          font-weight: 500;
        }
        p {
          font-size: 14px;
        }
        .icon-download {
          display: inline-block;
          margin-left: 5px;
        }
      }
    }
  }
}
.navbar-product {
  background-color: var(--dark);
  .navbar {
    display: flex;
    justify-content: space-between;
    // background-color: var(--dark);
    background-color: transparent;
    padding: 0 2rem !important;
    height: 55px;
    box-shadow: rgba(149, 157, 165, 0.2) -1px -1px 10px;
    .content sup {
      color: #fff;
    }
    .navbar-nav .nav-link {
      color: var(--white);
      font-size: 15px;
      padding: 23px 20px;
      font-family: var(--font-family-base);
      cursor: pointer;
      font-weight: 400;
      display: inline-block;
      position: relative;
      text-transform: uppercase;
      line-height: 24px;
    }
    .cart-icon {
      padding: 1rem 0;
      position: relative;
      img {
        display: flex;
        justify-content: space-between;
        width: 40%;
        // filter: invert(1);
      }
      span {
        border-radius: 13px;
        border: 1px solid var(--main-color);
        color: #fff;
        background: var(--main-color);
        position: absolute;
        top: 6px;
        right: 22px;
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar-product {
    background-color: var(--dark);
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      background-color: var(--dark);
      padding: 0.6rem !important;
      height: 55px;
      box-shadow: rgba(149, 157, 165, 0.2) -1px -1px 10px;
      .content sup {
        color: #fff;
      }
      .navbar-nav .nav-link {
        color: var(--white);
        font-size: 15px;
        padding: 23px 20px;
        font-family: var(--font-family-base);
        cursor: pointer;
        font-weight: 400;
        display: inline-block;
        position: relative;
        text-transform: uppercase;
        line-height: 24px;
      }
      .cart-icon {
        padding: 0.5rem 0;
        position: relative;
        img {
          display: flex;
          justify-content: space-between;
          width: 40%;
          filter: invert(1);
        }
        span {
          border-radius: 13px;
          border: 1px solid var(--main-color);
          color: #fff;
          background: var(--main-color);
          position: absolute;
          top: -3px;
          right: 22px;
        }
      }
    }
  }
  .navbar-product {
    .content sup {
      color: #fff !important;
    }
  }
  .product-details {
    .features-product {
      gap: 16px;
    }
    .single-product-media {
      text-align: center;
      img {
        width: 250px !important;
        height: 240px !important;
        margin-bottom: 1.7rem;
      }
    }
  }
}
