.blog-item {
  height: 100%;
  border-radius: 16px !important;
  .blog-img {
    height: 435px;
    .img-fluid {
      filter: brightness(0.5);
      height: 100%;
      &:hover {
        filter: none;
      }
    }
  }
  &:hover {
    cursor: pointer;
  }
}
