.container {
  .section-title {
    max-width: 600px;
    // text-align: center;
    margin-bottom: 1.5rem;
  }
}

.heading {
  padding: 3rem 0;
}
.testimonials {
  .owl-theme {
    // .testimonial-item {
    //   img {
    //     width: 60px;
    //     height: 60px;
    //   }
    // }
  }
  .owl-carousel .owl-item img {
    width: 60px !important;
    height: 60px !important;
  }

  .title {
    margin-bottom: 20px;
    padding: 20px;
  }
  .img {
    height: 260px;
    width: 100%;
  }
  .owl-item {
    margin: 0 !important;
    // width: 432px !important;
  }
  .center {
    .bg-light {
      background: #ffffff !important;
      box-shadow: 0 0 30px #dddddd;
    }
  }
}
.text-contain,
.text-heading {
  padding: 1.5rem 3rem;
}
// .owl-item {
//   .bg-light {
//     background: #eef9ff !important ;
//     box-shadow: 0 0 30px #dddddd;
//   }
// }
// .active {
//   .bg-light {
//     background: #ffffff !important ;
//     box-shadow: 0 0 30px #dddddd;
//   }
// }
@media (max-width: 768px) {
  #testimonials_Id {
    display: none;
  }
  .testimonials .owl-item {
    width: 387px !important;
    // width: 263px !important;
  }
  .text-contain,
  .text-heading {
    padding: 0.9rem;
    font-size: 14px;
    max-width: 250px;
    // text-align: center;
  }
}
// @media (max-width: 576px) {
//   .heading {
//     padding: 0 auto;
//   }
//   .container {
//     margin: auto;
//     padding: 1rem;
//     .section-title {
//       margin-bottom: 2rem;
//       text-align: left;
//       margin-bottom: 0;
//     }
//   }
//   h4,
//   h3,
//   h2 {
//     font-size: 1.1rem;
//   }
//   h1 {
//     font-size: 1.25rem;
//   }
//   h6 {
//     font-size: 1rem;
//   }
// }
