.product-description {
  .p-inputtext:enabled:focus {
    box-shadow: 0 0 8px 2px rgba(126, 33, 33, 0.2) !important;
    border-color: var(--primary) !important;
  }
  .p-inputtext:enabled:hover {
    border: 1px solid var(--primary) !important;
  }
}
.noon-flied {
  padding: 0.375rem 27px;
}
.amazon-flied {
  padding: 0.375rem 1rem;
}
