.team-wrapper {
  .container-fluid {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
.team-item {
  border-radius: 15px !important;
  .team-img {
    .img-member {
      object-fit: cover;
      width: 215px !important;
      height: 215px !important;
    }
  }
  h4 {
    font-size: 1rem;
  }
  p {
    font-size: 0.9rem;
  }
}
.item-member {
  flex: 0 0 auto;
  // width: 50%;
  margin: 1rem 2.65rem;
}
.team-container .owl-item {
  margin-right: 9px !important;
  width: 215px !important;
  img {
    width: 200px;
    height: 200px;
  }
}
.member-footer {
  padding: 0.8rem 0;
}
.owl-theme .owl-dots .owl-dot.active span {
  background-color: #e81e28 !important;
}
@media (max-width: 768px) {
  .team-wrapper {
    margin-top: 2rem;
    .container-fluid {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
  .team-item {
    border-radius: 15px !important;
    h4 {
      font-size: 1rem;
    }
    p {
      font-size: 0.9rem;
    }
  }
  .team-container .owl-item {
    margin-right: 9px !important;
    width: 270px !important;
    img {
      width: 100% !important;
      height: auto !important;
    }
    .item-member {
      margin: 0rem 0.1rem;
    }
  }
  .team-img {
    .img-member {
      width: 256px !important;
    }
  }
  .team-item .team-img .img-member {
    width: 270px !important;
    height: auto !important;
  }
  .member-footer {
    padding: 0.8rem 0;
  }
}
