.fact-content {
  height: 150px;
}
.fact-icon {
  width: 60px;
  height: 60px;
}

@media (max-width: 768px) {
  .facts {
    margin-top: 3rem;
  }
  .fact-content {
    height: 85px;
    h1 {
      font-size: 1.5rem;
    }
    h5 {
      font-size: 1rem;
    }
    .fact-icon {
      width: 45px;
      height: 45px;
    }
  }
}
