.all-team {
  .member-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    .member-box {
      width: 100%;
    }
  }
  .member-footer {
    padding: 0.8rem 0;
  }
}
@media (max-width: 768px) {
  .all-team .member-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 1rem;
  }
  .all-team {
    .team-item p {
      font-size: 0.7rem;
    }
    .team-img .img-member {
      height: 200px !important;
    }
  }
}
