.news {
  // .container-fluid {
  //   margin-top: 1rem;
  //   padding-bottom: 1rem;
  //   .container {
  //     margin-top: 3rem;
  //     padding-bottom: 3rem;
  //   }
  // }
  .wrapper_news {
    width: 95%;
    margin: auto;
    padding: 2rem;
  }
  .blog_news {
    width: 100%;
    max-width: 89rem;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    // padding: 3rem;
    padding: 2.86rem 3rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    font-family: "Rubik", sans-serif !important;

    .blog_img {
      min-width: 26rem;
      max-width: 26rem;
      height: 20rem;
      transform: translateX(-80px);
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border-radius: 0.8rem;
      }
    }
    .blog_info {
      .blog_date {
        span {
          display: block;
          color: rgba($color: #000000, $alpha: 0.5);
          font-size: 1.2rem;
          font-weight: 700;
          margin: 0.5rem auto 1rem;
          font-family: "Nunito";
        }
      }
      .blog_title {
        font-size: 1.5rem;
        margin: 10px 0;
        text-transform: uppercase;
        color: var(--primary);
        h1 {
          font-size: 1.5rem;
        }
      }
      .blog_text {
        font-size: 1rem;
        margin-bottom: 1rem;
        color: rgb(0 0 0 / 54%);
      }
      .blog_btn_more {
        display: inline-block;
        padding: 0.5rem 1rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 0.8rem;
        color: #fff;
        border-radius: 0.3rem;
        background-image: linear-gradient(to right, var(--primary), var(--primary) 100%);
      }
    }
  }
}

@media (max-width: 768px) {
  .wrapper_news {
    width: 100%;
    padding: 0;
    .blog_news {
      display: contents;
      max-width: 100%;
      .blog_img {
        transform: translateX(0);
      }
      .blog_img {
        min-width: 22rem;
        max-width: 22rem;
      }
      .blog_info {
        padding: 1rem 0.6rem;
        .blog_title {
          h1 {
            font-size: 1rem;
          }
        }
      }
      .blog_text {
        font-size: 15px;
      }
      .blog_btn_more {
        padding: 0.25rem 0.5rem;
        font-size: 0.75rem;
      }
    }
  }
}
