.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.required {
  color: #cf0a2c;
}
  .form-control:focus,.p-multiselect:not(.p-disabled).p-focus {
    border:1px solid var(--primary) !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
  }
  .footer-hint{
    display: flex;
    justify-content: space-between;
    color: #979797;
    /* margin-bottom: .7rem; */
        padding: 2px 6px 8px;
        font-size: 13px;
  }
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.owl-theme .owl-nav.disabled + .owl-dots{
  margin-top: 1.25rem ;
}
  .ags-btn-main-fill{
      background-color: var(--primary);
    border: 1px solid var(--primary);
    padding: 2px 6px;
    border-radius: 3px;
    color: #fff;
    margin: 0 6px;
    font-family: "Rubik",sans-serif;
}
  .ags-btn-main-outline{
    background-color: transparent;
    border: 1px solid var(--primary);
    padding: 2px 6px;
    border-radius: 3px;
    color: var(--primary);
    margin: 0 6px;
    font-family: "Rubik",sans-serif;
    transition: all .5s ease-in;
}
.ags-btn-main-outline:hover{
      background-color: #ccc;
      border: 1px solid #ccc;
      color: #444;

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media(max-width:768px) {
  .section-title h5{
    font-size: 1rem ;
  }
   .section-title h1{
    font-size: 1.25rem ;
  }
}