body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
body::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--white); /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: var(--primary); /* color of the scroll thumb */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bg-primary{
  /* background-color: #cf0a2c !important; */
  background-color:    #d80000 !important;
}
.text-primary{
  color: #d80000 !important;

}
.btn-primary{
     /* background-color: #cf0a2c;
    border-color: #cf0a2c; */
         background-color: #d80000;
    border-color: #d80000;
}
.btn-primary:hover{
     /* background-color: #cf0a2c !important;
    border-color: #cf0a2c !important; */
         background-color: #d80000 !important;
    border-color: #d80000 !important;
    color: #fff;
}
.btn-primary:focus,.btn-primary:active:focus{
     /* background-color: #cf0a2c !important;
    border-color: #cf0a2c !important; */
       background-color: #d80000 !important;
    border-color: #d80000 !important;
    color: #fff;
   box-shadow: 0 0 0 0.15rem rgba(247, 15, 35, 0.5);
}
.border-rounder{
   border-radius: 16px !important;
}
.border-tbr-rounder{
       border-top-right-radius: 10px !important;
       border-bottom-right-radius: 10px !important;
}
.border-ltb-rounder{
       border-top-left-radius: 10px !important;
       border-bottom-left-radius: 10px !important;
}
[class*="makeStyles-container"]:nth-child(odd),
[class*="makeStyles-iconContainer-"]:nth-child(odd)
{
  padding: 5px 0!important;
}
/* [class*="makeStyles-copyContainer-"]:nth-child(odd),
.makeStyles-copyContainer-5,.makeStyles-copyContainer-3,.makeStyles-copyContainer-9,.makeStyles-copyContainer-11,.makeStyles-copyContainer-9,.makeStyles-copyContainer-13{
  display: none !important;
} */
div[class^=makeStyles-copyContainer-]{
  display: none !important;

}
.MuiButtonBase-root{
      text-transform: capitalize !important;
}
.img-fluid{
  width: 100%;
}
.c_pointer{
  cursor: pointer;
}
.testimonial-img{
 width: 60px !important;
  height: 60px !important
}
@media (max-width: 768px){
  .navbar{
    position: fixed !important;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
    background-color: #fff;
  }
  /* .sticky-top.navbar-dark{
    background: var(--dark);
  }
  .navbar  .content sup{
    color: var(--light);    
  }
  .navbar-dark .navbar-toggler{
    color: var(--light) !important;   
    border: 1px solid var(--light) !important;
  }
  .navbar-dark .navbar-nav .nav-link{
    color: var(--light) !important;    
  } */
.border-ltb-rounder,.border-tbr-rounder{
  border-radius: 5px !important;
}
.border-rounder{
  border-radius: 8px !important;
}
.feature{
  margin-top: 1.6rem;
}
.testimonial-item{
  width: 388px !important;
}
}